.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
cmake/**/CMake*
cmake/**/.generated/*
!cmake/**/user.cmake
_build/
out/
Proteus/Project Backups
Proteus/Proteus/hardware.pdsprj.LAPTOP-JNBQU3BD.gabri.workspace